#vdl-form{
	border: 2px solid #cfcfcf;
	background: rgb(245,245,245);
	box-shadow: 3px 3px 5px #333;
	-moz-box-shadow: 3px 3px 5px #333;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 5px 10px 5px 10px;
	margin: 0px;
}

textarea{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding:5px;
	font-size: 14px;
	resize: none;
	border: 1px solid #afafaf;
}
input[type=text]{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width:auto;
	padding:2px;
	font-size: 14px;
}

input[type=password]{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding:2px;
	font-size: 14px;
}

input[type=submit]{
	background: #333;
	color: #f9f9f9;
	border: 1px solid #f8f9f9;
	width: 100%;
	margin:0px;
	padding: 10px;
	font-size: 16px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

}
