.sonar/
sonar-project.properties
logs/php_error.log
vdl-include/vdl-core/db.ini
vidali.sublime-workspace
vidali.sublime-workspace
vidali.sublime-project
vidali.sublime-workspace
.project
.settings/com.aptana.editor.php.prefs
composer.json
composer.lock
composer.phar
install/vidali.mwb
install/vidali.mwb.bak
vdl-include/Tranvia.gpx
vdl-include/tranvia-paradas.kml
vdl-include/tranvia.kml