@import "style";

/*=========HOME========*/
#left{
	background-color: #cdcdcd;
}

.p_resume{
	height: 100px;
	display: block;
	margin-bottom: 10px;
}

#p_thumb{
	box-shadow: 3px 3px 5px #888;
	-moz-box-shadow: 3px 3px 5px #888;
	padding: 0px;
	max-width: 100px;
	max-height: 100px;
	float: left;
}

#p_info{
	margin: 5px;
	padding: 5px;
	max-width: 200px;
	min-height: 80px;
	max-height: 80px;
	float: left;
	border-left: 1px solid #AFAFAF;
}

.stream{
	height: 600px;
	display: block;
	min-height: 400px;
}

#home_titles{
	border: 1px solid @green;
	margin: 0px;
	padding: 0px;
	min-height: 20px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}

.home_breadcumbs{
	border: 1px solid rgb(158,200,84);
	margin: 0px;
	padding: 0px;
	min-height: 20px;
}

.home_update{
	border: 1px solid rgb(158,200,84);
	margin: 0px;
	padding: 0px;
	min-height: 100px;
}