@import "style";
/*====================HEADER====================*/
.brand{
	padding-top: 4px !important;
	padding-bottom: 2px !important;
}
.navbar{
	margin-bottom: 0px;
}
header .navbar-inner{
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

#menu{
	padding-top: 5px;
}

#stream_chooser{
	padding-top: 5px;
	height: 25px;
	color: #fff;
	font-size: 12px;
}

#nav .navbar-inner{
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
height: 50px;

background-image: linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%);
background-image: -o-linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%);
background-image: -moz-linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%);
background-image: -ms-linear-gradient(bottom, rgb(187,204,169) 0%, rgb(187,204,169) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(187,204,169)),
	color-stop(1, rgb(187,204,169))
);
}

ul li{
	margin-top: 10px;
	text-align: center;
	border-bottom: 5px solid #5A5A5A;
	a{
		padding: 2px !important;
		margin: 0px !important;	
		color: #000 !important;
	}
}

ul li.active{
	border-bottom: 5px solid #F1BA4D;	
}
ul li.active a{
	background-color: rgba(0,0,0,0) !important;
	color: #FFF !important;
}

ul li:hover{
	border-bottom: 5px solid #F1BA4D;	
}
