@import "style";
/*====================HEADER====================*/
.brand{
	padding-top: 4px !important;
	padding-bottom: 2px !important;
}
#header_elements{
	margin-bottom: 0px;
}

#stream_chooser{
	padding-top: 5px;
	height: 25px;
	color: #fff;
	font-size: 12px;
}

#box1{
	padding: 5px 0px 5px 0px;
	height: 20px;
}

ul li{
	border-top: 5px solid #5A5A5A;
	a{
		padding: 2px !important;
		margin: 0px !important;	
	}
}

ul li.active{
	border-top: 5px solid #F1BA4D;	
}

ul li:hover{
	border-top: 5px solid #F1BA4D;	
}
