@import "style";
/*====================FOOTER====================*/

#feedbar{
	background-color: #2D2D2D;
	background: url('../img/debut_dark.png') repeat;
	width: 100%;
	bottom: 0px;
	position: fixed;
	color: #fff;
	font-size: 14px;
	padding-top: 5px;
	height: 80px;
	.icon{
		float: left;
		width: 40px;
	}
	.horizontal_scroller, div.vertical_scroller{
		padding-top: 5px;
		padding-bottom: 25px;
		color: #fff;
		font-size: 16px;
		text-shadow: 1px 1px 0px #111;
		text-align: justify;
		height: 100%;
		position:relative;
		display:block;
		overflow:hidden;
		height-min: 25px;
		min-width: 900px;
	}
	.scrollingtext{
		position:absolute;
		white-space:nowrap;
	}
	#invisible{
		background-color: rgba(0,0,0,0);
		border: 0px;
	}
}
