
/*====================LESS VARS====================*/

@black: #000;
@dark1: #303030;

@gray1: #222;
@gray2: #2D2D2D;
@gray3: #5A5A5A;

@white: #f8f9f9;

@green: #AFD250;

.height_event{
	height: 100px;
}

html {
    background: url('../img/linen.png') repeat;
}

body {
    background: url('../img/linen.png') repeat;
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
}

#background {
	background-color: #333;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
}

#loading{
	position:fixed;
	width:268px;
	left:40%;
	top:40%;
} 

#loading img{
	margin: auto;
	display: block;
}

#din{

}