
/*====================LESS VARS====================*/

@black: #000;
@dark1: #303030;

@gray1: #222;
@gray2: #2D2D2D;
@gray3: #5A5A5A;

@white: #f8f9f9;

@green: #AFD250;
@green2: #bbcca9;
.height_event{
	height: 100px;
}

a{
  color: @green2;
}

a:hover {
  color: @green;
}

a:visited{
  color: @green2;
}
html {
  background: #FDFDFD;
	margin: 0;
	border: 0;
}

body {
  background: #FDFDFD;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

#map{
  width:auto;
  height: 600px;
  margin:0 !important;
  margin-left: 38px !important;
  z-index: -1;
}

#background {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMDQxNSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmIyYjJiIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+)   no-repeat center center fixed;  
  background-image: -moz-linear-gradient(0deg, #2f0415 0%, #2b2b2b 100%);  
  background-image: -webkit-linear-gradient(0deg, #2f0415 0%, #2b2b2b 100%);  background-image: -o-linear-gradient(0deg, #2f0415 0%, #2b2b2b 100%);  
  background-image: linear-gradient(90deg, #2f0415 0%, #2b2b2b 100%);
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
}

#loading{
	position:fixed;
	width:268px;
	left:40%;
	top:40%;
} 

#loading img{
	margin: auto;
	display: block;
}

#container{
	width: auto !important;
  margin-left: 38px !important;
}

#din{

}

.ui-input-text{
	float: left;
}

.search-button{
	float: right;
}


#notify-side{
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
}

#notify-tab{
	margin-bottom: 0px;
}	

#updater{
  width: 400px;
  height: auto;
  background: #555;
  margin-left: 38px;
  position: fixed;
  padding: 5px;
  top: 0px;
  margin-top: 100px;
  z-index: 99999;
  border-radius: 0px 10px 10px 0px;
}

#update_box{
  width: 390px;
  padding: 5px;
  margin: 0px;
  border: 0px;
  resize: none; 
}

#OpenLayers_Map_2_OpenLayers_ViewPort{
  z-index: 0 !important;
}
